@import '../../styles/variables';

.loader-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.loader-medium {
    height: max-content;
}

.loader {
    width : 48px;
    height: 48px;
    margin: auto;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: $gray-16 $gray-16 transparent transparent;
    animation: rotation 1s linear infinite;
    &:after , &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent $green $green;
        width:  48px - 8px;
        height:  48px - 8px;
        border-radius: 50%;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }
    &:before{
        width:  48px - 16px;
        height:  48px - 16px;
        border-color:$white $white transparent transparent;
        animation: rotation 1.5s linear infinite;
    }
}

@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes rotationBack {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
}
