image: node:12.16.0

definitions:
  services:
    docker:
      memory: 3000

pipelines:
  branches:
    develop:
      - step:
          name: Build
          size: 2x
          script:
            - export IMAGE_NAME=$DOCKER_HUB_USERNAME/$APPLICATION_NAME:$BITBUCKET_COMMIT
            - docker build -t $IMAGE_NAME .
            - docker login --username $DOCKER_HUB_USERNAME --password $DOCKER_HUB_PASSWORD
            - docker push $IMAGE_NAME
          services:
            - docker
      - step:
          name: Deploy
          deployment: staging
          script:
            - sed -i "s|{{image}}|$DOCKER_HUB_USERNAME/$APPLICATION_NAME:$BITBUCKET_COMMIT|g" deployment.yaml
            - sed -i "s|{{host}}|$STAGING_URL|g" deployment.yaml
            - sed -i "s|{{dockerconfigjson}}|$dockerconfigjson|g" deployment.yaml
            - sed -i "s|{{env}}|staging|g" deployment.yaml
            - pipe: atlassian/google-gke-kubectl-run:1.3.0
              variables:
                KEY_FILE: $GCLOUD_API_KEYFILE
                PROJECT: $GCLOUD_PROJECT
                COMPUTE_ZONE: $GCLOUD_COMPUTE_ZONE
                CLUSTER_NAME: $GCLOUD_CLUSTER_NAME
                KUBECTL_COMMAND: 'apply'
                RESOURCE_PATH: 'deployment.yaml'

