<div class="container">
    <div class="wrapper-form">
        <form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Please enter your email'"
                [label] = "'Login'"
                [id] = "'email'"
                [pattern]="'[A-Za-z0-9._%-+]+@[A-Za-z0-9._%-]+\\.[a-z]{2,20}'"
                ngModel name="email">
            </app-generic-input>
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Please enter your password'"
                [label] = "'Password'"
                [id] = "'password'"
                [type] = "'password'"
                ngModel name="password">
            </app-generic-input>
            <div class="d-flex justify-content-between">
                <a [routerLink]="['/resetPassword']" class="btn-forgot">Forgot password</a>
            </div>
            <div *ngIf="isError" class="is-invalid is-auth">
                <p>{{message}}</p>
            </div>
    
            <button [disabled]="!f.valid" type="submit" class="btn btn-blue btn-big mt-10">Sign in</button>
        </form>
    </div>
</div>