@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import 'variables';

*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $gray-1;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: $black-main;
    margin: 0;
}

a {
    display: inline-block;
    color: $black-main;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $black-main;
    }
}

.main {
    margin-bottom: 50px;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-content {
    &-between {
        justify-content: space-between;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
}

p {
    margin: 0;
}

.container {
    max-width: 972px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;

    &__big {
        max-width: 100%;
        padding: 0 30px;
    }

    &__small {
        max-width: 652px;
    }

    &__extra-small {
        max-width: 492px;
    }
}

.btn {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: $gray-17;
    font-weight: 600;
    line-height: 1.43;
    border: none;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__small {
        padding: 6px 11px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.01em;
    }

    &-dark {
        border: 1px solid $gray-7;
        background-color: $gray-7;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $gray-7;
            color: $gray-7;
        }
    }

    &-green {
        border: 1px solid $green;
        background-color: $green;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $green;
            color: $green;
        }
    }

    &-big {
        width: 100%;
    }
}

.tx-center {
    text-align: center;
}

.card-shadow {
    background: $white;
    border-radius: 8px;
}

.wrapper {
    padding: 20px;

    &-big {
        padding: 35px 80px 48px;
    }
}

.input {
    -webkit-appearance: none !important;
    background-color: $white;
    width: 100%;
    padding: 13px 16px;
    border-radius: 4px;
    border: 1px solid $gray-19;
    line-height: 1.57;
    color: $black-1;
    cursor: pointer;
    transition: all 0.3s;

    &::placeholder {
        color: $gray-20;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}

$values: (2, 4, 6, 8, 10, 14, 12, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40);

@each $value in $values {
    .mt {
        &-#{$value} {
            margin-top: #{$value}px;
        }
    }

    .mb {
        &-#{$value} {
            margin-bottom: #{$value}px;
        }
    }
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.is-invalid {
    color: $red;
}

.wrapper-form {
    padding: 35px 70px 45px;
    margin-top: 28px;
}

.main-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.39;
    letter-spacing: 0.01em;
    color: $black-1;
}

.form-group {
    margin-bottom: 24px;
}

path {
    transition: all 0.3s;
}

.social-btn {
    vertical-align: middle;

    &--google {
        margin-left: 10px;
    }

    &--facebook {
        margin-left: 16px;
    }
}

.wrap {
    flex-wrap: wrap;
}

.ng-input {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.auth-btn-link {
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $blue-2;
    cursor: pointer;
    transition: all 0.3s;
}

@media only screen and (max-width: 560px) {
    .wrapper-big {
        padding: 24px;
    }

    .wrapper-form {
        padding: 24px 24px 36px;
    }

    .btn {
        padding: 12px 20px;
    }
}