// White
$white: #FFFFFF;

$bg: #F4F7FB;

// Gray
$gray-1: #E5E5E5;
$gray-2: #E0E0E0;
$gray-3: #6F7B89;
$gray-4: #505050;
$gray-5: #949BA9;
$gray-6: #909DB5;
$gray-7: #404957;
$gray-8: #566580;
$gray-9: #8C99AB;
$gray-10: #B9C1B9;
$gray-13: #D3D8E1;
$gray-14: #E9EFF6;
$gray-15: #47536A;
$gray-16: #627085;
$gray-17: #F4F7FB;
$gray-18: #647697;
$gray-19: #E9EBF0;
$gray-20: #A3ADBB;
$gray-21: #FAFBFD;
$gray-22: #75849A;
$gray-23: #EFF3F8;

//Black 
$black-main: #404957;
$black: #00194C;
$black-1: #2F3640;
$black-2: #4D4D4D;

// Blue
$blue: #385898;
$blue-1: #E8F2FE;
$blue-2: #1072F1;
$blue-3: #E3F6FE;

// Red
$red: #DB4437;

// Green
$green: #5BCF0C;
$green-1: #16B858;
