<div class="form-group">
    <input class="input"
        [type]="type" #input
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        [disabled]="disabled"
        [id]="id"
        [placeholder] = "placeholder ? placeholder : ''"
        [ngClass]="{'is-invalidClass':controlDir && !controlDir.control.valid 
        && controlDir.control.touched}"
        autocomplete="on"
        required
    />

    <div *ngIf="label" class="label-box">
        <label class="d-block form-label" [for]="id" *ngIf="isRequired">{{label}}*</label>
        <label class="d-block form-label" [for]="id" *ngIf="!isRequired">{{label}}</label>
    </div>
    <div class="invalid-feedback"
            *ngIf="controlDir && !controlDir.control.valid 
            && controlDir.control.touched">
            <span class="is-invalid">{{errorMsg}}</span>
    </div>
</div>
