<app-header></app-header>
<main class="main">
    <div class="container container__extra-small">
        <div class="wrapper-form card-shadow">
            <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
                <h2 class="main-title">Відновлення паролю</h2>
                <p class="auth-info">Будь ласка, введіть ел. адресу вказану при реєстрації</p>
                <app-generic-input
                    [isRequired]="true"
                    [errorMsg]="'Будь-ласка введіть ваш Email'"
                    [placeholder] = "'Email'"
                    [id] = "'email'"
                    [pattern]="'[A-Za-z0-9._%-+]+@[A-Za-z0-9._%-]+\\.[a-z]{2,20}'"
                    ngModel name="email">
                </app-generic-input>
                <button [disabled]="!f.valid" type="submit" class="btn btn-green btn-big mt-8">Змінити пароль</button>
            </form>
        </div>
    </div>
</main>

