<form [formGroup]="form">
    <h3 class="mb-16 mt-36">Пароль</h3>
    <div class="form-group">
        <input
            type="password"
            class="input"
            placeholder="Старий пароль"
            [ngClass]="{'is-invalidClass':form.get('oldPassword').touched && form.get('oldPassword').invalid}"
            formControlName="oldPassword"
            name="oldPassword"
            autocomplete="password"
            required
        />
        <div *ngIf="form.get('oldPassword').touched && form.get('oldPassword').invalid"
            class="invalid-feedback">
            <p 
                *ngIf="form.get('oldPassword').errors"
                class="is-invalid"
            >
                Обов`язкове поле
            </p>
        </div>
    </div>
    <div class="form-group">
        <input
            type="password"
            class="input"
            placeholder="Новий пароль"
            [ngClass]="{'is-invalidClass':form.get('password').touched && form.get('password').invalid}"
            formControlName="password"
            name="new-password"
            autocomplete="password"
            required
        />
        <div *ngIf="form.get('password').touched && form.get('password').invalid"
            class="invalid-feedback">
            <p 
                *ngIf="form.get('password').errors"
                class="is-invalid"
            >
                Обов`язкове поле
            </p>
        </div>
    </div>
    <div class="form-group">
        <input
            type="password"
            class="input"
            placeholder="Повторити новий пароль"
            [ngClass]="{'is-invalidClass':form.get('repeatPassword').touched && form.get('repeatPassword').invalid}"
            formControlName="repeatPassword"
            name="repeatPassword"
            autocomplete="password"
            required
        />
        <div *ngIf="form.get('repeatPassword').touched && form.get('repeatPassword').invalid"
            class="invalid-feedback">
            <p 
                *ngIf="form.get('repeatPassword').errors"
                class="is-invalid"
            >
                Обов`язкове поле
            </p>
        </div>
    </div>
    <div *ngIf="isError" class="is-invalid is-auth">
        <p>{{message}}</p>
    </div>
</form>
