@import '../../styles/variables';

.avatar {
    border-radius: 50%;
    width: 44px;
    height: 44px;

    &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-4;
        color: $white;
    }

    &__large {
        width: 76px;
        height: 76px;
    }

    &__normal {
        width: 46px;
        height: 46px;
    }

    &__medium {
        width: 42px;
        height: 42px;
    }

    &__small {
        width: 36px;
        height: 36px;
    }

    &__extra-small {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
}
